# <center>HW 5: Text Clustering</center>

A dataset has been prepared for you. There are two files:
- `hw5_train.csv`: contains only text data
- `hw5_test.csv`: this file contains a set of documents and their lables. This file is for you to conduct `external evaluation`. There are 5 unique labels, i.e. the documents ideally can be clustered into 5 categories.

In [2]:
import pandas as pd

train = pd.read_csv("hw5_train.csv")
train.head()

                                                text
0  More movies head to Sony's PSP\n\nMovies Open ...
1  Blair ready to call election\n\nTony Blair see...
2  Blair 'damaged' by Blunkett row\n\nA majority ...
3  Gaming firm to sell UK dog tracks\n\nSix UK gr...
4  Ruddock backs Yapp's credentials\n\nWales coac...

In [3]:
test = pd.read_csv("hw5_test.csv")
test.head()

                                                text  label
0  Bond game fails to shake or stir\n\nFor gaming...      5
1  Student 'fee factor' played down\n\nA rise has...      4
2  Davenport hits out at Wimbledon\n\nWorld numbe...      3
3  Weak dollar hits Reuters\n\nRevenues at media ...      2
4  Johnson accuses British sprinters\n\nFormer Ol...      3

## Q1. Cluster by KMeans (Cosine or Euclidean distance) and GMM

Create a function `cluster_docs(docs, num_clusters, model_type)` as follows:
- The function takes three inputs:
    - `docs`: training documents from `hw5_train.csv`
    - `num_clusters`: the number of clusters
    - `model_type`: an indicator for three models: 
        - 1: `KMeans with Cosine Distance`, 
        - 2: `Kmeans with Euclidean Distance`
        - 3: `Gaussian Mixture Model with Diagonal Covariance`
- Fit `TfidfVectorizer` and generate TF-IDF weight matrix from `docs` with the following options:
    - Remove all English stopwords
    - Set the minimum document frequency (`min_df`) to 5
- Create a `cluster model` as indicated by the `model_type`. To ensure stability of each model, train it with 20 different initial means (i.e., for NLTK Kmeans, the parameter is `repeats`; for the other two, the parameter is `n_inits')
- Return the `clustering model` and the `TfidfVectorizer`

In [5]:
def cluster_docs(docs, num_clusters=2, model_type = 1):
    
    model, tfidf_vect = None, None
    
    # Add your code here
    
    return model, tfidf_vect

In [6]:
model, tfidf_vect = cluster_docs(train["text"], num_clusters=5, model_type = 3)

In [9]:
import pandas as pd
df = pd.DataFrame({'consumption': [10.51, 103.11, 55.48],
                   'co2_emissions': [37.2, 19.66, 1712]},
                   index=['Pork', 'Wheat Products', 'Beef'])
print(df,'\n')
print(dict(df.idxmax(axis=1)))

                consumption  co2_emissions
Pork                  10.51          37.20
Wheat Products       103.11          19.66
Beef                  55.48        1712.00

{'Pork': 'co2_emissions', 'Wheat Products': 'consumption', 'Beef': 'co2_emissions'}

## Q2: Interpret Clusters

Create a function called `interpret_cluster (model, TfidfVect, model_type)` as follows
- Take three inputs:
    - the `model` returned from Q1 and its corresponding `model_type`
    - the TfidfVectorizer (`TfidfVect`) returned from Q1
- Caculate the mean of each cluster. Hints:
    - for NLTK KMeans, the mean is `model.means()`
    - for Sklearn KMeans, the mean is `model.cluster_centers_` (see https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html)
    - for Gaussian Mixture Model, the mean is `model.means_` (see https://scikit-learn.org/stable/modules/generated/sklearn.mixture.GaussianMixture.html)
- Retrieve the `top 20 words` of each cluster by the words' mean TF-IDF weights 
- Return these top 20 words for each cluster

Now use this function `interpret_cluster` to interpret the clusters of each model. Based on these top words, could you suggest a meaningful name for each cluster? Write your cluster names in a pdf file

In [7]:
def interpret_cluster (model, TfidfVect, model_type):
    
    result = None
    
    # add your code
    
    return results

In [8]:
results = interpret_cluster (model, tfidf_vect, model_type = 3)

for i, words in enumerate(results):
    print(i, ' '.join(words),"\n")

0 film best awards music said award festival year band star actor tv album oscar films singer chart won director actress

1 mr labour said election blair party government brown howard minister people tory prime tax tories lord chancellor public lib leader

2 said growth economy year company market bank mr sales oil shares firm 2004 economic china government dollar prices new deal

3 game england said win cup match team injury players play chelsea season ireland club wales coach world rugby final time

4 people said mobile users technology software net digital games broadband microsoft music phone computer video use mr online service phones

### Q3: External Evaluation

Define a function `evaluate_model(test_docs, labels, model, model_type, TfidfVect)`, as follows:
- Take the following inputs:
    - `test_docs`, `labels` are the testing documents and their ground-truth labels in `hw5_test.csv`
    - the `model` returned from Q1 and its `model_type`
    - the TfidfVectorizer (`TfidfVect`) returned from Q1
- Predict a `cluster id` for each document in the `test_docs`
- Match each `cluster id` to a `label` by `majority vote`. More specifically,
    - Count the number of documents per label within each cluster 
    - Map the cluster to the label with the largest count. (hint, you can use numpy `argmax` or pandas `idxmax` to achieve this mapping dynamically. Don't `hard code the mapping` because each run may return a different mapping due to randomness)
- After mapping `cluster ids` to `labels`, print out classification reports.
- Return the mapping between `cluster ids` to `labels`

In [9]:
def evaluate_model(test_docs, labels, model, model_type, TfidfVect):
    
    mapping = None
    
    # add your code
    
    return mapping

In [10]:
evaluate_model(test["text"], test["label"], model=model, model_type =3, TfidfVect = tfidf_vect)

              precision    recall  f1-score   support

           1       0.97      0.93      0.95        96
           2       0.83      0.93      0.88       107
           3       0.96      0.97      0.96       115
           4       0.95      0.84      0.89        88
           5       0.90      0.90      0.90        94

    accuracy                           0.92       500
   macro avg       0.92      0.91      0.92       500
weighted avg       0.92      0.92      0.92       500

   cluster  label
0        0      1
1        1      4
2        2      2
3        3      3
4        4      5

### Q4 (Bonus): Find the number of clusters

In this dataset, we have manually labled the test subset so we know the number of clusters. In general, when you have a dataset but without any information about its possible clusters, `how would you like to find the best number of clusters`? Research to find a way to decide the number of clusters and write down your idea in the pdf file.  Also, use the training dataset to test your idea.

In [14]:
# Put everyting together for testing


if __name__ == "__main__":
    
    train = pd.read_csv("hw5_train.csv")
    test = pd.read_csv("hw5_test.csv")
    
    
    model_dict = {1: "KMeans with Cosine Distance",
                 2: "KMeans with Euclidean Distance",
                 3: "GMM"}
    
    for model_type in [1,2, 3]:
        print("\n")
        print("======= " + model_dict[model_type]+" =======")
        print("\n")
        
        # Q1
        model, tfidf_vect = cluster_docs(train["text"], num_clusters=5, model_type = model_type)
        
        # Q2
        results = interpret_cluster (model, tfidf_vect, model_type = model_type)        
        for i, words in enumerate(results):
            print(i, ' '.join(words),"\n")
        
        # Q3
        evaluate_model(test["text"], test["label"], model=model, model_type =model_type, TfidfVect = tfidf_vect)

======= KMeans with Cosine Distance =======


0 game england said win cup match team club injury players play chelsea season ireland wales coach rugby world time final

1 film best awards award said festival band star year actor album oscar music tv films won director singer actress stars

2 said growth economy market year company sales bank oil shares firm 2004 china economic dollar prices government analysts new deal

3 mr said labour election blair party government brown minister howard people tax tory prime chancellor tories public lord plans leader

4 people said mobile technology users music software digital net games broadband microsoft mr video use phone computer online service phones

              precision    recall  f1-score   support

           1       0.98      0.93      0.95        96
           2       0.97      0.93      0.95       107
           3       0.96      1.00      0.98       115
           4       0.93      0.97      0.95        88
           5       0.93      0.95      0.94        94

    accuracy                           0.95       500
   macro avg       0.95      0.95      0.95       500
weighted avg       0.95      0.95      0.95       500

   cluster  label
0        0      3
1        1      1
2        2      2
3        3      4
4        4      5

======= KMeans with Euclidean Distance =======


0 people mobile said users technology net digital games software music broadband microsoft video phone online use mr computer service phones

1 said year mr government sales company growth new economy market bank uk 2004 oil shares 000 firm economic china years

2 mr labour election blair party said brown howard government tory tax minister prime tories chancellor lib lord leader people kennedy

3 game england win said cup match team injury players play chelsea season ireland club wales coach final rugby time world

4 film best awards award festival oscar actor films director actress won star year comedy movie prize nominated said hollywood starring

              precision    recall  f1-score   support

           1       0.96      0.51      0.67        96
           2       0.55      0.99      0.71       107
           3       0.97      0.97      0.97       115
           4       0.98      0.61      0.76        88
           5       0.98      0.90      0.94        94

    accuracy                           0.81       500
   macro avg       0.89      0.80      0.81       500
weighted avg       0.88      0.81      0.81       500

   cluster  label
0        0      5
1        1      2
2        2      4
3        3      3
4        4      1

======= GMM =======


0 film best awards music said award festival year band star actor tv album oscar films singer chart won director actress

1 mr labour said election blair party government brown howard minister people tory prime tax tories lord chancellor public lib leader

2 said growth economy year company market bank mr sales oil shares firm 2004 economic china government dollar prices new deal

3 game england said win cup match team injury players play chelsea season ireland club wales coach world rugby final time

4 people said mobile users technology software net digital games broadband microsoft music phone computer video use mr online service phones

              precision    recall  f1-score   support

           1       0.97      0.93      0.95        96
           2       0.83      0.93      0.88       107
           3       0.96      0.97      0.96       115
           4       0.95      0.84      0.89        88
           5       0.90      0.90      0.90        94

    accuracy                           0.92       500
   macro avg       0.92      0.91      0.92       500
weighted avg       0.92      0.92      0.92       500

   cluster  label
0        0      1
1        1      4
2        2      2
3        3      3
4        4      5